<h1><%= @client.name %></h1>

<form id="form_id" action="/clients" method="post">
    <input name="_method" type="hidden" value="patch">
    <input type="hidden" name="id" value="<%= @client.id %>">

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class ="form-control" value="<%= @client.name %>">
    </div>

    <div class="form-group">
        <label for="hairtype">Hairtype</label>
        <input type="text" name="hairtype" class ="form-control" value="<%= @client.hairtype %>">
    </div>

    <div class="form-group">
        <label for="rating">Rating</label>
        <select name="rating" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </div>

    <% if @stylists.first %>
        <div class="form-group">
          <label for="stylist_id">Stylist</label>
          <select name="stylist_id" class="form-control">
            <% @stylists.each() do |stylist| %>
              <option value="<%= stylist.id() %>"><%= stylist.name() %></option>
            <% end %>
          </select>
        </div>
    <% else %>
        <p>Add a stylist in <a href="/stylists">Stylists</a></p>
    <% end %>

    <button type="submit" class="btn btn-default btn-md">Edit <%= @client.name %></button>
</form>
